.env

data/raw/
Patents/Patents_Data/*
Publications/Publications_Data/*

__pycache__/
*.pyc

Publications/ML/Plots/*

Funding/1_deduplication/raw_data/
Funding/1_deduplication/data_changes/
Patents/ML/Plots/*

Pipeline/Publications/data/*
Pipeline/Publications/embeddings/*
Pipeline/Patents/data/*
Pipeline/Patents/embeddings/*